rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ВРЕМЕННЫЕ ПРАВИЛА ДЛЯ ТЕСТИРОВАНИЯ - ПОЛНЫЙ ДОСТУП
    // ИСПОЛЬЗУЙТЕ ТОЛЬКО ДЛЯ ОТЛАДКИ!
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 